html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.input-group-start, .input-group-destination {
  clear: both;
  margin: 20px 0;
  display: flex;
  margin-left: 20%;
  width: 40%;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: white; }
  .input-group-start input[type="text"], .input-group-destination input[type="text"] {
    outline: 0;
    padding: 14px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    flex: 1;
    font-size: 1.2rem;
    border: none; }
  .input-group-start input[type="button"], .input-group-destination input[type="button"] {
    outline: 0;
    background-color: #42A8D1;
    color: white;
    font-size: 1.2rem;
    padding: 14px 30px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none; }
    .input-group-start input[type="button"]:hover, .input-group-destination input[type="button"]:hover {
      cursor: pointer;
      background-color: #47BCEB; }

#map_canvas {
  height: 68vh;
  width: 100%; }
  @media (max-width: 770px) {
    #map_canvas {
      height: 44vh; } }

#map_canvas img {
  max-width: 100%; }

#map_canvas .content {
  padding: 0 0.5em 1em 0.5em; }

#map_canvas .firstHeading {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  margin: 0; }

#map_canvas #bodyContent p {
  font-size: 1em;
  margin: 0; }

body {
  background-color: #333; }

.map {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 600px; }
  .map::after {
    clear: both;
    content: "";
    display: table; }

.photos {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .photos::after {
    clear: both;
    content: "";
    display: table; }

.img {
  height: 300px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-top: 10px; }
  .img:last-child {
    margin-right: 0; }
  .img:hover {
    border: 2px solid white; }
  @media (max-width: 1080px) {
    .img {
      width: 49%; } }
  @media (max-width: 770px) {
    .img {
      width: 100%; } }

.photo1 {
  background-image: url(../img/alvard1.jpeg); }

.photo2 {
  background-image: url(../img/alvard2.jpeg); }

.photo3 {
  background-image: url(../img/alvard3.jpg); }

.photo4 {
  background-image: url(../img/alvard4.jpg); }

.photo5 {
  background-image: url(../img/alvard5.jpg); }

.photo6 {
  background-image: url(../img/alvard6.jpg); }

footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #222; }
  footer::after {
    clear: both;
    content: "";
    display: table; }
  footer .footer-primary-contacts {
    display: flex;
    justify-content: flex-start; }
    footer .footer-primary-contacts li {
      align-items: center;
      list-style: none; }
    footer .footer-primary-contacts a {
      color: white;
      text-decoration: none; }

.footer-secondary-links ul {
  display: flex;
  justify-content: flex-end; }
  .footer-secondary-links ul li {
    flex: 1 1 100%;
    justify-content: space-between;
    list-style: none; }
    .footer-secondary-links ul li a {
      color: white;
      text-decoration: none; }

.header {
  background-color: #222; }
  .header nav {
    width: 80%;
    margin: auto; }
    .header nav ul {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      padding: 34px 0 18px; }
      .header nav ul li {
        flex: 1;
        padding: 5px 0;
        font-size: 18px;
        text-align: center;
        font-family: 'Fjalla One', sans-serif;
        list-style: none; }
        .header nav ul li a {
          list-style: none;
          text-decoration: none;
          color: white; }
        .header nav ul li i {
          color: #ffb84d; }
        @media (max-width: 770px) {
          .header nav ul li {
            display: none; } }
      .header nav ul li:nth-child(1) {
        display: flex;
        flex: 3; }

.img {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3px; }

/*# sourceMappingURL=styles.css.map */
