html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.input-group-destination {
  margin: 20px 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-left: 25%;
  width: 45vw;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: white; }
  @media (max-width: 770px) {
    .input-group-destination {
      margin-left: 20px;
      width: 90%; } }
  .input-group-destination input[type="text"] {
    outline: 0;
    padding: 14px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    flex: 1;
    font-size: 1.2rem;
    border: none; }
  .input-group-destination input[type="button"] {
    outline: 0;
    background-color: #42A8D1;
    color: white;
    font-size: 1.2rem;
    padding: 14px 22px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none; }
    .input-group-destination input[type="button"]:hover {
      cursor: pointer;
      background-color: #47BCEB; }

#map_canvas {
  max-height: 100%;
  width: 100%; }
  @media (max-width: 770px) {
    #map_canvas {
      max-height: 100%; } }

#map_canvas img {
  max-width: 100%; }

#map_canvas .content {
  padding: 0 0.5em 1em 0.5em; }

#map_canvas .firstHeading {
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  margin: 0; }

#map_canvas #bodyContent p {
  font-size: 1em;
  margin: 0; }

body {
  background-color: #333; }

.map {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .map::after {
    clear: both;
    content: "";
    display: table; }
  .map iframe {
    min-height: 400px;
    width: 100%; }

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /* clearfix wtf? */ }
  .photos::after {
    clear: both;
    content: "";
    display: table; }
  .photos .img {
    height: 300px;
    width: 100%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .photos .img:last-child {
      margin-right: 0; }
    .photos .img:hover {
      border: 2px solid white; }
    @media (max-width: 1040px) {
      .photos .img {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .photos .img:last-child {
          margin-right: 0; } }
    @media (max-width: 770px) {
      .photos .img {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .photos .img:last-child {
          margin-right: 0; } }

.photo1 {
  background-image: url(../img/alvard1.jpeg); }

.photo2 {
  background-image: url(../img/alvard2.jpeg); }

.photo3 {
  background-image: url(../img/alvard3.jpg); }

.photo4 {
  background-image: url(../img/alvard4.jpg); }

.photo5 {
  background-image: url(../img/alvard5.jpg); }

.photo6 {
  background-image: url(../img/alvard6.jpg); }

footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #222;
  min-height: 100px; }
  footer::after {
    clear: both;
    content: "";
    display: table; }
  footer .footer-primary-contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media (max-width: 770px) {
      footer .footer-primary-contacts {
        justify-content: flex-start; } }
    footer .footer-primary-contacts li {
      list-style: none;
      margin-left: 10px;
      padding: 30px 10px 0 0; }
    footer .footer-primary-contacts a {
      color: white;
      text-decoration: none; }
    footer .footer-primary-contacts i {
      font-size: 2em; }
    @media (max-width: 770px) {
      footer .footer-primary-contacts li {
        width: 100%; }
      footer .footer-primary-contacts li:nth-child(5), footer .footer-primary-contacts li:nth-child(6), footer .footer-primary-contacts li:nth-child(7) {
        width: 10%;
        display: block; } }

.header {
  background-color: #222; }
  .header nav {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .header nav::after {
      clear: both;
      content: "";
      display: table; }

.header-ul {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 34px 0 18px; }
  .header-ul li {
    flex: 1;
    padding: 5px 0;
    font-size: 18px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    list-style: none; }
    .header-ul li a {
      text-decoration: none;
      color: white; }
      .header-ul li a:hover {
        color: #888; }
    .header-ul li i {
      color: #ffb84d; }
    .header-ul li li:nth-child(6) {
      display: none; }
    @media (max-width: 770px) {
      .header-ul li {
        display: none; } }
  .header-ul li:nth-child(1) {
    display: flex;
    flex: 3; }
  .header-ul li:nth-child(6) {
    display: inline; }

.photos .img {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3px; }

/*# sourceMappingURL=styles.css.map */
