  <!-- //footer// -->
  <footer>
    <ul class="footer-primary-contacts">
      <li><a href="#"><i class="fa fa-road"></i> Road Trip</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Terms and Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
    </ul>
  </footer>
  </body>
</html>