@Html.Partial("header.cshtml")

<h1> Map Test </h1>
<form method="post" id="commandLine" action="start">
  <input type="text" name="command">
  <input type="submit" value="GO">
</form>
<div class="content">
  </div>