@Html.Partial("header.cshtml")

<div class="content">
</div>

<div class="carousel maximage">
  <div class="left-arrow">
    <i class="fa fa-chevron-left"></i>
  </div>
  <div class="right-arrow">
    <i class="fa fa-chevron-right"></i>
  </div>
</div>
      
@Html.Partial("footer.cshtml")