@Html.Partial("header.cshtml")

<form method="post" id="test" action="/getPage">
  <input type="text" name="command" autofocus>
  <input type="submit" name="submit" value="command">
</form>
<div class="content">
  This is sample data
</div>