@Html.Partial("header.cshtml")

<div class="content">
</div>

<div class="maximg carousel"><i class="fa fa-chevron-left"></i>
      <i class="fa fa-chevron-right"></i><div><img></div></div>
      
@Html.Partial("footer.cshtml")