@Html.Partial("header.cshtml")

<h1> Command Line </h1>
<form method="post" id="commandLine" action="/addStop">
  <input type="text" name="command">
  <input type="submit" value="GO">
</form>
<div class="content">
  </div>
  
  <div class="maximg"><div><img></div></div>