@Html.Partial("header.cshtml")

<div class="content">
</div>
<div class="nameTrip">
  <button>@Model.GetName()</button>
</div>
<div class="maximg carousel">
  <div class="left-arrow">
    <i class="fa fa-chevron-left"></i>
  </div>
  <div class="maximginner"><img></div>
  <div class="right-arrow">
    <i class="fa fa-chevron-right"></i>
  </div>
</div>
<div style="display:none">
  @foreach(var dest in Model.GetDestinations())
  {
    <div class="destination">@dest.GetId()</div>
  }
</div>
<script type="text/javascript">
$(document).ready(function() {
  $(".destination").each(function() {
    var id = $(this).text();
    href = "/getStop/" + id;
    $.ajax(href).done(function(data, status) {
      $(".content").append("<div>"+data+"</div>");
      fixImageAddClick();
      
    });
  });
  $(".nameTrip").show();
});
</script>
@Html.Partial("footer.cshtml")