.carousel {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  .left-arrow, .right-arrow {
    width: 28%;
    height: 100%;
    display: flex;
    align-content: center;
    &:hover {
      i {
        opacity: 1;
      }
    }
    i {
      align-self: center;
      width: 100%;
      color: white;
      opacity: 0.003;
      font-size: 2.5em;
      text-align: center;
      z-index: 999;
    }
  }
}
