footer {

  background-color: #222;
  min-height: 100px;
  .footer-primary-contacts {
    @include outer-container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media #{$brk-narrow} {
      justify-content: flex-start;
    }
    li {
      list-style: none;
      margin-left: 10px;
      padding: 30px 10px 0 0;
    }
    a {
      color: white;
      text-decoration: none;
    }
    .fa-road {
        color: #ffb84d;
    }
    i {
      font-size: 2em;
    }
    @media #{$brk-narrow} {
      li {
        width: 100%;
      }
      li:nth-child(5), li:nth-child(6), li:nth-child(7) {
        width: 10%;
        display: block;
      }
    }
  }
}
