footer {
  @include outer-container;
  background-color: #222;

  .footer-primary-contacts {
    display: flex;
    justify-content: flex-start;
    li {
      align-items: center;
      list-style: none;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.footer-secondary-links {
  ul {
    display: flex;
    justify-content: flex-end;
    li {
      flex: 1 1 100%;
      justify-content: space-between;
      list-style: none;
      a{
        color: white;
        text-decoration: none;
      }
    }
  }
}
