.header {
  margin: 0 auto;
  background-color: #222;
  height: 120px;
  position: fixed;
  top: 0;
  width: 100vw;
  nav {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-ul {
    margin: 0 auto;
    padding: 34px 12px 18px;
    li {
      padding: 5px 0;
      font-size: 18px;
      font-family: 'Fjalla One', sans-serif;
      list-style: none;
      @media #{$brk-narrow} {
        display: none;
      }
      a {
        text-decoration: none;
        color: #777;
        &:hover {
          color: #999;
        }
      }
      i {
        color: #ffb84d;
      }
    }
  }

}
